<br />
<br />
<h1>Listado de Profesores</h1>
<br />
<br />

<button (click)="nuevo()" class="btn btn-success">Agregar</button>
<br />
<br />

<table class="table table-striped">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Celular</th>
      <th>Acciones</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let profesor of profesores">
      <td>{{ profesor.idprofesor }}</td>
      <td>{{ profesor.nomprofesor }}</td>
      <td>{{ profesor.apeprofesor }}</td>
      <td>{{ profesor.telfprofesor }}</td>
      <td>
        <button (click)="editar(profesor)" style="margin-right: 10px" class="btn btn-warning"> Editar </button>&nbsp;       
      </td>
    </tr>
  </tbody>
</table>

